.header {
  margin-top: 10px;
  .border{
    border-top: solid 1px gray;
    max-width: 80%;
  }
  .default-topics{
    max-width: 75%;
    max-height:50px;
    overflow: hidden;
  }
  .active {
    font-weight: 900;
  }
  .logo{
    color:teal;
    font-size: 30px;
    position:relative;
    top:15px;
  }
  .logo:hover{
    text-shadow:0px 0px 1px teal;
  }
  .subreddit{
    position: absolute;
    z-index:10;
    top:50px;
  }
  .subreddit:hover{
      font-weight: 900;
  }
}
